<!DOCTYPE html>
<html>
<head>
  <style>
    #graph {
      width: 600px;
      height: 400px;
      position: relative;
    }

    #rect {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 150px;
      left: 200px;
      background-color: blue;
      opacity: 0.5;
      cursor: ew-resize;
    }
  </style>
</head>
<body>
  <div id="graph"></div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script>
    // Create the SVG element
    const svg = d3.select("#graph")
      .append("svg")
      .attr("width", 600)
      .attr("height", 400);

    // Create the draggable rectangle
    const rect = svg.append("rect")
      .attr("id", "rect")
      .attr("x", 200)
      .attr("y", 150)
      .attr("width", 100)
      .attr("height", 100)
      .style("fill", "blue")
      .style("opacity", 0.5)
      .style("cursor", "ew-resize")
      .call(d3.drag()
        .on("drag", function(event) {
          const newX = parseInt(rect.attr("x"));
          const newWidth = parseInt(rect.attr("width")) + event.dx;

          if (newWidth >= 0) {
            rect.attr("x", newX);
            rect.attr("width", newWidth);
          }
        }));

  </script>
</body>
</html>
